@charset "utf-8";

// Import fonts
@import 'typography';

// Set your brand colors
@import 'colors';

// Update Bulma's global variables
$family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$primary: $blue;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: #fff;

// Import Bulma
@import '~bulma/bulma.sass';
@import '~bulma-timeline/src/sass/index.sass';